/* ********************* PAGE D'ACCUEIL ********************* */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* **** Barre de navigation **** */

.logo {
    width: 100px;
    height: auto;
}



/* Modifie la couleur des liens du menu */
.navbar-nav .nav-link {
  font-family: 'Poppins', sans-serif; /* Changer la police du texte */
    color: #2196F3 !important; /* Change la couleur du texte */
    /* espace les liens entre eux de façon égale */
    margin-right: 20px;
    margin-left: 10px;
  }
  
  /* Modifie la couleur des liens du menu au survol */
  .navbar-nav .nav-link:hover {
    color: #0d47a1 !important; /* Bleu plus foncé au survol */
  }
  
  /* Modifie la couleur du bouton Connexion */
  .navbar-nav .btn-primary {
    background-color: #2196F3 !important; /* Change la couleur de fond */
    border-color: #2196F3 !important; /* Change la bordure */
    
  }
  
  /* Modifie la couleur du bouton Connexion au survol */
  .btn-primary:hover {
    background-color: #0d47a1 !important; /* Bleu plus foncé */
    border-color: #0d47a1 !important;
  }

  .navbar-nav {
    margin-right: 30px; /* Annule ms-auto et pousse le menu légèrement à gauche */
    margin-left: 10px; /* Ajuste la distance depuis la gauche */
  }


  /* **** Section Bannière **** */

  .hero-image {
    width: 100%; /* L’image prend toute la largeur de son conteneur */
    max-height: 500px; /* Définit une hauteur max pour ne pas qu’elle soit trop grande */
    object-fit: cover; /* Coupe l’image proprement si elle est trop grande */
  }